img {
    width: 100%;
}
.hero-box {
    height: 90vh;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}
.hero-card {
    max-width: 400px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.img-container-hero {
    width: 300px;
}
.logo-hero-img {
    width: 90px;
    margin: 20px 0px;
}
.hero-info-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 500px;
}
.login-screen {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}